@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

/* Custom Scrollbar for Sidebar */
aside::-webkit-scrollbar {
  width: 6px;
}
aside::-webkit-scrollbar-track {
  background: transparent;
}
aside::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
aside::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
